## Zaawansowane Metody Uczenia Maszynowego - PROJEKT 1 

Temat projektu: **Klasyfikator pokemonów** 

<img src="./assets/charizard_cool.png" width="50" height="50" />

---
### Zajęcia numer 1 - lista zadań:
1. Wybrać zbiór danych, skonsultować, wpisać w arkusz na Delcie
2. Opisać co w nim jest: jakie mamy cechy, czego dotyczy i co będzie przedmiotem projektu (regresja/klasyfikacja, zmianna zależna etc.)
4. Zbiór danych ma cechować się:
- Regresja lub klasyfikacja
- Ilość danych min 1k rekordów
- 10% danych brakujących (lub błędnych, mozna dodać ręcznie)
- Min 5-7 lub więcej cech w zbiorze
- W przypadku klasyfikacji rozkład ilościowy etykiet
  
4. Podsumowanie zbioru, opis cech, ilości danych, analiza danych błędnych/brakujących (czy są/nie ma etc.)
5. Histogramy + opis
6. Box ploty + opis
7. Wizualizacja danych w oparciu o jakiś bardziej zaawansowany wykres (przykład z wykładu)
8. Analiza danych bazując na pandas (np. w jakim kraju wystąpiła najwyższa inflacja, w jakim kraju najczęściej pojawił się kryzys itp)
9. Analiza pairplotów (jeśli dużo danych w zestawie można wyrysować mniej lub osobno dla każdej kolumny albo np. policzyć współczynniki korelacji Pearsona/Spearmana)

---
#### Opis zbioru:
Zbiór danych zawiera informacje o 1045 Pokemonach z Generacji od 1 do 8.
Opisuje atrybuty Pokemonów takie jak: nazwę, typ, ilość zdrowia, siłę ataku, moc obrony, itd.

Kolumny:
- Pokedex_No. - numer Pokemona z pokedexu
- Name - nazwa Pokemona
- Type - typ (każdy z Pokemonów ma od 1 do 2 typów)
- Other Type - drugi typ pokemona (każdy z Pokemonów ma od 1 do 2 typów) -> jeżeli None tzn. Pokemon ma tylko 1 typ
- HP - ilość zdrowia
- Attack - siła ataku
- Defense - siła oborny
- Special Attack - siła ataku specjalnego
- Special Defense - siła obrony specjalne
- Speed - szybkość Pokemona
- Total - całkowita moc Pokemona (suma HP, Attack, Defense, Special Attack, Special Defense, Speed)
- Generation - generacja do której należy
- Legendary - zmienna zależna, określa czy Pokemon jest legendarny (0/1)

Model klasyfikacji - model będzie określał czy dany Pokemon jest legendarny czy nie.

Etykiety:
- 0 - pokemon nie jest legendarny
- 1 - pokemon jest legendarny

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
# wczytanie danych
dataset_path = './datasets/dataset_pokemon_all.csv'
df = pd.read_csv(dataset_path)

In [ ]:
df = df.replace("?", None)

In [ ]:
df['Name'] = df['Name'].apply(lambda x : x.replace("'", ""))

In [ ]:
df.head()

,Pokedex_No,Name,Type,Other_Type,HP,Attack,Defense,Special_Attack,Special_Defense,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,0
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,0
4,4,Charmander,Fire,None,39,52,43,60,50,65,309,1,0

In [ ]:
rows, cols = df.shape

In [ ]:
values_count = rows * cols
max_empty = round(0.1 * values_count) + 1
max_empty = max_empty

In [ ]:
# uzupełnanie pustymi wartościami
row_idxs = np.random.randint(0, rows, max_empty)
# skip nazwy i indeksu
col_idxs = np.random.randint(2, cols, max_empty)

for r, c in zip(row_idxs, col_idxs):
    df.iat[r, c] = None

#### Podsumowanie zbioru:
- Opis cech - jak wyżej
- Ilość danych - 1045 wierszy
- Dane błędne/brakujące - dodane ręcznie 10%

In [11]:
df.describe()

,Pokedex_No,HP,Attack,Defense,Special_Attack,Special_Defense,Speed,Total,Generation,Legendary
count,1045.000000,944.000000,929.000000,909.000000,937.000000,928.000000,931.000000,939.00000,914.000000,922.000000
mean,440.769378,70.681144,80.407966,74.471947,73.348986,71.992457,69.083781,439.13738,4.022976,0.116052
std,262.517231,27.099577,32.431067,31.471135,33.145865,27.916251,30.240709,121.88169,2.263215,0.320461
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,175.00000,1.000000,0.000000
25%,212.000000,50.000000,56.000000,50.000000,50.000000,50.000000,45.000000,330.00000,2.000000,0.000000
50%,436.000000,68.500000,77.000000,70.000000,65.000000,70.000000,65.000000,458.00000,4.000000,0.000000
75%,670.000000,85.000000,100.000000,90.000000,95.000000,90.000000,90.000000,512.00000,6.000000,0.000000
max,898.000000,255.000000,190.000000,250.000000,194.000000,250.000000,200.000000,1125.00000,8.000000,1.000000

In [13]:
df['Legendary'].value_counts(dropna=False)

Legendary
0.0    830
1.0    108
NaN    107
Name: count, dtype: int64

#### Histogramy

In [65]:
excluded = ['Pokedex_No', 'Name', 'Type', 'Other_Type', 'Target']
def create_histogram(df):
    for c in df.columns:
        if c in excluded:
            continue
        df.hist(column=c, figsize=(10, 10))

In [5]:
# create_histogram(df)

#### Boxploty

In [68]:
def create_boxplot(df, c):
    plt.figure(figsize=(10, 10))
    df.boxplot([c], figsize=(10, 10))

In [6]:
# for c in df.columns:
#     if c in excluded:
#         continue
#     create_boxplot(df, c)

#### Pairploty

In [73]:
def create_pairplot(df):
    sns.pairplot(df)

In [7]:
# create_pairplot(df)

#### Co jeszcze jest do zrobienia z zajęć nr 1:
- [x] zbiór wybrany, konsultowany, wpisany w arkuszWybrać zbiór danych, skonsultować, wpisać w arkusz na Delcie
- [x] opis zbioru (czego dotyczy, jakie cechy, jaki model, zmienna zależna, etykiety)
- [x] zbiór spełnia wymagania projektu
- [x] podsumowanie zbioru - opis cech, ilości danych, analiza danych błędnych/brakujących
- [ ] histogramy + opis **(dodać opic)**
- [ ] box ploty + opis **(dodać opis)**
- [ ] wizualizacja danych w oparciu o jakiś bardziej zaawansowany wykres (np. kilka zmiennych na jednym wykresie)
- [ ] analiza danych bazując na pandas
- [ ] analiza pairplotów (pariploty małoczytelne - można zrobić osobne dla każdej zmiennej)

#### Poza tym:
- [ ] zakodować zmienną `Type` i `Other_Type` (wartości string) za pomocą kodowania: `binary encoding`, `frequency encoding` lub `mean encoding`
- [ ] zapisać zestaw po przetworzeniu (po kodowaniu zmiennych i dodaniu pustych wartości) do nowego pliku `dataset_clear.csv` (żeby tego za każdym razem nie przetwarzać tylko wczytać z czystego)

---
#### Zajęcia numer 2:
1. Dokładny opis przy wszystkich wykresach,
2. Analiza danych brakujących/błędnych (dwa proste sposoby + jeden "trudniejszy") = 3 różne zbiory danych jako output
3. Analiza danych odstających
4. Skalowanie danych (min/max + standaryzacja) dla każdego zbioru = 3 x 2 = 6 różnych zbiorow danych
5. Zastanowić się nad cechami, czy każda z nich jest ok, może jakoś je zestawić, pomyśleć o timestamp oraz danych kategorycznych
6. W razie potrzeby pozbyć się danych odstających (ostrożnie - patrz wykład)
7. Wgranie na delcie pliku z raportem